body {
  padding: 15px;
  font-family: "Cambodian", Cambodian, monospace;
  text-align: left;
}
h1 {
  font-size: 2em;
  margin: 0px;
  padding: 25px 0 15px 0;
}

p {

  margin-bottom: 15px;
  line-height: 2.0;
  font-weight: lighter;

}


img {
  border-radius: 70%;
}
ul {
  list-style-type: none;
  font-size: 0.2em;
}



footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	text-align: center;
}


