body {
  padding: 15px;
  font-family: "Cambodian", Cambodian, monospace;
  text-align: center;
}
h1 {
  font-size: 2em;
  margin: 0px;
  padding: 25px 0 15px 0;
}
p {
  margin: 20px;
}
img {
  border-radius: 70%;
}
ul {
  list-style-type: none;
}
footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	text-align: center;
}

.content
{
  margin-left: auto;
  margin-right: auto;
}

.content > h1
{
  font-weight: 300;
}

.content p
{
  margin-bottom: 15px;
  line-height: 2.0;
  font-weight: lighter;
}

p > a
{
  background-color: #fff8dc;
}

p > a:hover
{
  color: #6050dc;
  border-radius: 5px;
  padding: 10px 10px 10px;
}

.contact-table
{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  transition: 0.5s;
}

